/*
 * CSS File for the solution
 * Final Exam
 * You got this!
 */

/*
 * COLOUR PALETTE
 *
 * YOU DO NOT NEED TO USE THESE COLOURS, BUT YOU CAN IF YOU WANT TO
 *
 * #cdb4db - Lavender Purple
 * #ffc8dd - Pink
 * #ffafcc - Light Pink
 * #bde0fe - Light Blue
 * #a2d2ff - Light Blue
 * #0c0a3e - Dark Purple
 * #797979 - Grey
 *
 * https://coolors.co/palette/cdb4db-ffc8dd-ffafcc-bde0fe-a2d2ff
 */

/*
 * FOR YOUR DESKTOP VIEWPORT I WOULD RECOMMEND THE FOLLOWING MEDIA QUERY
 *
 * @media screen and (min-width: 800px) {
 *    ... your styles here ...
 * }
 */

 html {
  font-size: 1.0rem;
}

body {
  font-family: Arial, Helvetica, sans-serif;

  background-color: #f7ead7;
}

header {
  display: flex;
  justify-content:space-between;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

header img {
  background-color: black;
  padding: 1rem;
  width: 4rem;
  border-radius: 1rem;
}

header ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 1rem;
  border-radius: 1rem;
  background-color: black;
  cursor: pointer;
}

header ul li a {
  text-decoration: solid;
  padding-left: 1rem;
  padding-right: 1rem;
  font-weight: bold;
  color: white;
}

header ul:hover {
  color: #dcdcdc;
  background-color: rgb(31, 31, 31);
}

header ul:active {
  color: #dcdcdc;
  background-color: black;
}

.hero {
  text-align: center;
  margin-bottom: 10rem;
  margin-top: 10rem
}

h1 {
  font-size: 3rem;
}

.hero p {
  margin-top: 1rem;
  color:rgb(116, 116, 116)
}

.my-skills-container {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  list-style: none;
  gap: 1rem;
  height: 21rem;
}

.my-skills-container li {
  display: flex;
  align-items: flex-end;
}

.skill-1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 5;
  background-color: #cdb4db;
  padding: 1rem;
  border-radius: 1rem;
  font-weight: bold;
  font-size: 1.3rem;
}

.skill-2 {
  background-color: #ffafcc;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  padding: 1rem;
  border-radius: 1rem;
  font-weight: bold;
  font-size: 1.3rem;
}

.skill-3 {
  background-color: #ffc8dd;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
  padding: 1rem;
  border-radius: 1rem;
  font-weight: bold;
  font-size: 1.3rem;
}

.skill-4 {
  background-color: #bde0fe;
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 5;
  padding: 1rem;
  border-radius: 1rem;
  font-weight: bold;
  font-size: 1.3rem;
}


.skill-5 {
  background-color: #bde0fe;
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 3;
  padding: 1rem;
  border-radius: 1rem;
  font-weight: bold;
  font-size: 1.3rem;
}


.skill-6 {
  background-color: #cdb4db;
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 3;
  grid-row-end: 5;
  padding: 1rem;
  border-radius: 1rem;
  font-weight: bold;
  font-size: 1.3rem;
}

.about-me-container {
  display: flex;
  margin-top: 10rem;
  margin-bottom: 10rem;
}


.about-me-img img {
  width: 115rem;
  height: 40rem;
  border-radius: 2rem;

  object-fit: cover;
  object-position: center;
  
}

.about-me-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 2rem;
  padding:2rem;
}

.about-me-content h3 {
  font-size: 1.7rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.about-me-content button {
  display: flex;
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-right: auto;
  margin-top: 1rem;
  border: none;
  border-radius: 1rem;
  background-color: #ffc8dd; 
  font-weight: bold;
}

.my-work {
  margin-bottom: 10rem;
}

.my-work h2 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 3rem;
}

.my-work-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.my-work-item {
  width: 49%;   
  box-sizing: border-box;
}

.my-work-img {
  display: flex;
  height: 33rem;
  border-radius: 1rem;
  border: 0.3rem black solid;
  overflow: hidden;
}

.my-work-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.my-work-content {
  padding-top: 1rem; 

}

.my-work-content h3 {
  font-weight: bold;
  font-size: 1.4rem;
  margin-top: 0.5rem;
}

.tags {
  display: flex;
}

.tags p {
  background-color: #ffafcc;
  font-size: 0.7rem;
  font-weight: bold;
  padding: 0.2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 1rem;
  margin-right: 0.4rem;
}

.contact-me {
  background-color: #cdb4db;
  padding: 2rem;
  border-radius: 1rem;
  margin-bottom: 10rem;
}

.contact-me h2 {
  font-size: 1.8rem;
  margin-top: 1rem;
}

.contact-me p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.contact-me button {
  margin-bottom: 1rem;
  padding: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border: none;
  border-radius: 1rem;
  font-weight: bold;
  background-color: black;
  cursor: pointer;
  color: white
}

footer {
  display: flex;
  justify-content:space-between;
  align-items: center;
  border-top: 1px solid rgb(116, 116, 116);
  margin-top: 2rem;
  margin-bottom: 2rem;
}

footer img{ 
  width: 2rem;
  margin-top: 1rem;
}

footer p {
 color: rgb(116, 116, 116);
 margin-top: 1rem;
}

@media (max-width: 500px) {
  .my-skills-container {
    display: flex;
    flex-direction: column;
  } 
  .about-me-container {
    flex-direction: column;
  }
  .about-me-content {
    margin-left: 0;
  }
  .my-work-item {
    width: 100%;
    margin-bottom: 3rem;
  }
}
/*
 * SR-ONLY
 */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
 }


/*
 * SHARED STYLES
 */

.page-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1.0rem;
}

/*
 * ADD YOUR STYLES HERE
 */
